{% extends 'structure.html' %}

{% block nav %}
    <div class="top-home">
        {% include 'nav_admin.html' %}
    </div>
{% endblock nav %}

{% block main %}
<main class="container-fluid">
    <div class="row d-flex justify-content-around">
      <a href="search.html" class="col-md-3 mycards">
        <div class="tab text-center">Rent A house</div>
      </a>
      <a href="" class="col-md-3 mycards">
        <div class="tab text-center">Check Houses</div>
      </a>    
    </div>

  </main>
{% endblock main %}
