{% extends 'structure.html' %}
{% block nav %}
    {% include 'top-head.html' %}
    {% include 'home_banner.html' %}
{% endblock nav %}

{% block main %}
<main class="container">
    <h2 class="text-center">Our category</h2>
    <h1 class="text-center">Explore our categories and places</h1>
    <div class="row">
        <div class="col-md-4 cat">
            <img src="../static/css/fonts/undraw_building_re_xfcm.svg" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 cat">
            <img src="../static/css/fonts/undraw_choosing_house_re_1rv7.svg" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 cat">
            <img src="../static/css/fonts/undraw_house_searching_re_stk8(1).svg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row d-flex justify-content-center places">
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="text-center text-dark">Place Name</h3>
            <p class="text-center">N Properties</p>
        </div>
    </div>
</main>

<div class="featured">
    <div class="container">
        <h2 class="text-center">Our houses</h2>
        <h1 class="text-center">Featured Houses</h1>
        <div class="row d-flex justify-content-around">
            <div class="col-md-3 mycards">
                <a href="" class="thisnot">
                    <div class="card-overlay">
                        <img src="../static/images/square.jpg" alt="" class="img-fluid card-mg">                            <div class="tag overlay-tag">Ksh.40,000</div>
                        <div class="tag overlay-tag">Ksh.40,000</div>
                    </div>
                    <div class="content-card">
                        <div class="d-flex justify-content-between">
                            <div>
                                <img src="../static/images/square.jpg" alt="" class="img-fluid round-image">
                                <span>Jane Doe</span>
                            </div>
                            <span class="d-flex align-items-center">2 Weeks ago</span>
                        </div>
                        <p class="">X Properties</p>
                        <div>
                            <i class="bi-geo-alt-fill"></i>
                            <span>Nairobi</span>
                            <span class="tag">SALE</span>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="d-flex align-items-center justify-content-around card-in">
                                <img src="../static/css/fonts/bed-svgrepo-com.svg" alt="" class="img-fluid myicons">
                                <span>3</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-around card-in">
                                <img src="../static/css/fonts/bath-svgrepo-com.svg" alt="" class="img-fluid myicons">
                                <!-- <object data="./css/fonts/bath-svgrepo-com.svg" type="image/svg+xml" class="myicons"></object> -->
                                <span>2</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-around card-in">
                                <img src="../static/css/fonts/scale-svgrepo-com.svg" alt="" class="img-fluid myicons">
                                <!-- <object data="./css/fonts/bath-svgrepo-com.svg" type="image/svg+xml" class="myicons"></object> -->
                                <span>1,567sqt</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mycards">
                <a href="" class="thisnot">
                    <div class="card-overlay">
                        <img src="../static/images/square.jpg" alt="" class="img-fluid card-mg">
                        <div class="tag overlay-tag">Ksh.40,000</div>
                    </div>
                    <div class="content-card">
                        <div class="d-flex justify-content-between">
                            <div>
                                <img src="../static/images/square.jpg" alt="" class="img-fluid round-image">
                                <span>Jane Doe</span>
                            </div>
                            <span class="d-flex align-items-center">2 Weeks ago</span>
                        </div>
                        <p class="">X Properties</p>
                        <div>
                            <i class="bi-geo-alt-fill"></i>
                            <span>Nairobi</span>
                            <span class="tag">SALE</span>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="d-flex align-items-center justify-content-around card-in">
                                <img src="../static/css/fonts/bed-svgrepo-com.svg" alt="" class="img-fluid myicons">
                                <span>3</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-around card-in">
                                <img src="../static/css/fonts/bath-svgrepo-com.svg" alt="" class="img-fluid myicons">
                                <!-- <object data="./css/fonts/bath-svgrepo-com.svg" type="image/svg+xml" class="myicons"></object> -->
                                <span>2</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-around card-in">
                                <img src="../static/css/fonts/scale-svgrepo-com.svg" alt="" class="img-fluid myicons">
                                <!-- <object data="./css/fonts/bath-svgrepo-com.svg" type="image/svg+xml" class="myicons"></object> -->
                                <span>1,567sqt</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mycards">
                <a href="" class="thisnot">
                    <div class="card-overlay">
                        <img src="../static/images/square.jpg" alt="" class="img-fluid card-mg">
                        <div class="tag overlay-tag">Ksh. 40,000</div>
                    </div>                        
                    <div class="content-card">
                        <div class="d-flex justify-content-between">
                            <div>
                                <img src="../static/images/square.jpg" alt="" class="img-fluid round-image">
                                <span>Jane Doe</span>
                            </div>
                            <span class="d-flex align-items-center">2 Weeks ago</span>
                        </div>
                        <p class="">X Properties</p>
                        <div>
                            <i class="bi-geo-alt-fill"></i>
                            <span>Nairobi</span>
                            <span class="tag">SALE</span>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="d-flex align-items-center justify-content-around card-in">
                                <img src="../static/css/fonts/bed-svgrepo-com.svg" alt="" class="img-fluid myicons">
                                <span>3</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-around card-in">
                                <img src="../static/css/fonts/bath-svgrepo-com.svg" alt="" class="img-fluid myicons">
                                <!-- <object data="./css/fonts/bath-svgrepo-com.svg" type="image/svg+xml" class="myicons"></object> -->
                                <span>2</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-around card-in">
                                <img src="../static/css/fonts/scale-svgrepo-com.svg" alt="" class="img-fluid myicons">
                                <!-- <object data="./css/fonts/bath-svgrepo-com.svg" type="image/svg+xml" class="myicons"></object> -->
                                <span>1,567sqt</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>                
        </div>        
    </div>
</div>

<div class="places" >
    <div class="row aboutus">
        <div class="col-md-3">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequuntur, et pariatur soluta omnis consectetur, cum asperiores libero ab quam qui, neque nihil quas. Iusto officia adipisci ipsa iste dolores! -->
        </div>
        <div class="col-md-9 aboutus-side">
            <h3>About Us</h3>
            <h2 class="text-dark">About The Rental Hub</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ratione delectus expedita deserunt, tempore dolore pariatur adipisci eligendi quaerat repellendus aliquam repudiandae quam tempora laudantium sed dicta inventore accusamus recusandae?</p>

            <div class="4-elecemts row">
                <div class="col-md-3">
                    <h2>56+</h2>
                    <span>Goals</span>
                </div>
                <div class="col-md-3">
                    <h2>56+</h2>
                    <span>Goals</span>
                </div>
                <div class="col-md-3">
                    <h2>56+</h2>
                    <span>Goals</span>
                </div>
                <div class="col-md-3">
                    <h2>56+</h2>
                    <span>Goals</span>
                </div>
            </div>
            <img src="../static/images/image3.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>


<section class="self-ad d-flex justify-content-around">
    <div>
        <h1>Find the Best place for living</h1>
        <span class="text-light">Sustainable cities for all</span>
    </div>
    <a href="/feedback">
        <button class="ad-btn">Get in Touch</button>
    </a>
    
</section>

{% endblock main %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}



