{% extends 'structure.html' %}
{% block content %}
<main class="container">
    <article class="row">
      <div class="col-md-5">
        <img src="../static/images/image1.jpg" alt="My image" class="img-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sunt corrupti voluptas, laudantium exercitationem maxime pariatur excepturi ea sequi eveniet quaerat cum consectetur repudiandae ipsum. Nemo possimus suscipit dolores dolorem.</p>
      </div>
      <div class="col-md-5">
        <img src="../static/images/image1.jpg" alt="My image" class="img-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sunt corrupti voluptas, laudantium exercitationem maxime pariatur excepturi ea sequi eveniet quaerat cum consectetur repudiandae ipsum. Nemo possimus suscipit dolores dolorem.</p>
      </div>
    </article>

    <div class="row">
      <p class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui praesentium voluptatum molestiae, a quas repellat fugit animi? Tempora maxime consectetur cum ipsum natus, sed odio nulla dolore temporibus nam amet.</p>
      <img src="../static/images/image1.jpg" alt="" class="img-fluid col-md-6">
    </div>
  </main>
{% endblock content %}