<div class="cont d-none d-md-block">
    <div class="container">
        <div class="row" >
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2 myicons">
                        <i class="bi bi-map"></i>
                    </div>
                    <div class="col-md-10">
                        <h6 class="text-left">Call us +1 234 456 78910</h6>
                        <p class="text-left">24/7 Customer Support</p>
                    </div>      
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2 myicons">
                        <i class="bi bi-send"></i>
                    </div>
                    <div class="col-md-10">
                        <h6 class="text-left">Our Location</h6>
                        <p class="text-left">Nairobi Kenya</p>
                    </div>      
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2 myicons">
                        <i class="bi bi-person-plus"></i>
                    </div>
                    <div class="col-md-10">
                        <h6 class="text-left">Connect With us</h6>
                        <p class="text-left">info@rentalhub.com</p>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>